# These owners will be the default owners for everything in the repo.
* @teijosol teijo.ronka@solita.fi @jouniso jouni.sonninen@solita.fi @teemu-solita teemu.lukkarinen@solita.fi @jkhaak-solita jani.k.haakana@solita.fi @solita-ijunnone ilari.junnonen@solita.fi matti.heinonen@solita.fi