# Idea projektitiedostot
*.iml
.idea/

# Nämä tiedostot sisältävät salaisuuksia. Ignore.
/src/test/resources/application-test.properties
/src/main/resources/application-localhost.properties
/src/main/resources/application-localhost-daemon.properties
/src/main/resources/application-virtualbox.properties
/src/test/resources/application-localhost.properties

# Käännösartifaktit
/target
/buildNumber.properties

# Lokitiedostot
**/*.log
**/*.log.gz

# SchemaSpyn generoimat schemat ja kirjastot
/dbroad/schemaspy/schema
/dbroad/schemaspy/lib