<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <!-- If needed to exclude stacktrace put %xEx{0} at the end of the pattern -->
            <pattern>%d{ISO8601} %p&#9;[%t] - %c: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- File to write to before rotating. See: http://logback.qos.ch/manual/appenders.html#tbrpFileNamePattern -->
        <file>metadata-daily.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>metadata-daily.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>92</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- If needed to exclude stacktrace put %xEx{0} at the end of the pattern
                 Useful if logged only oneliners to one file and full straces to other -->
            <pattern>%d{ISO8601} %p&#9;[%t] - %c: %m%n</pattern>
        </encoder>
    </appender>

    <!-- JMS message logging in separate file -->
    <appender name="FILE_JMS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- File to write to before rotating. See: http://logback.qos.ch/manual/appenders.html#tbrpFileNamePattern -->
        <file>metadata-jms-daily.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>metadata-jms-daily.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>92</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- If needed to exclude stacktrace put %xEx{0} at the end of the pattern
                 Useful if logged only oneliners to one file and full straces to other -->
            <pattern>%d{ISO8601} %p&#9;[%t] - %c: %m%n</pattern>
        </encoder>
    </appender>

    <!-- TMS and weather sensors data -->
    <logger name="fi.livi.digitraffic.tie.data.service.SensorDataUpdateService" additivity="false">
        <appender-ref ref="FILE_JMS" />
        <springProfile name="localhost">
            <appender-ref ref="CONSOLE" />
        </springProfile>
    </logger>

    <!-- JMS message listener -->
    <logger name="fi.livi.digitraffic.tie.data.jms" additivity="false">
        <appender-ref ref="FILE_JMS" />
        <springProfile name="localhost">
            <appender-ref ref="CONSOLE" />
        </springProfile>
    </logger>

    <!-- JMS message configuration -->
    <logger name="fi.livi.digitraffic.tie.conf.jms" additivity="false">
        <appender-ref ref="FILE_JMS" />
        <springProfile name="localhost">
            <appender-ref ref="CONSOLE" />
        </springProfile>
    </logger>

    <!-- Camera presets images -->
    <logger name="fi.livi.digitraffic.tie.data.service.CameraImageUpdateService" additivity="false">
        <appender-ref ref="FILE_JMS" />
        <springProfile name="localhost">
            <appender-ref ref="CONSOLE" />
        </springProfile>
    </logger>

    <!-- Camera presets data -->
    <logger name="fi.livi.digitraffic.tie.data.service.CameraDataUpdateService" additivity="false">
        <appender-ref ref="FILE_JMS" />
        <springProfile name="localhost">
            <appender-ref ref="CONSOLE" />
        </springProfile>
    </logger>

    <root level="INFO" additivity="false">
        <appender-ref ref="FILE" />

        <springProfile name="localhost">
            <appender-ref ref="CONSOLE" />
        </springProfile>
    </root>

</configuration>
