# Http-server port
server.port = 9000

dt.domain.url=http://localhost:9000

# Datasource
road.datasource.url=jdbc:postgresql://localhost:54322/road?reWriteBatchedInserts=true&ApplicationName=testRoadApplication
road.datasource.username=road
road.datasource.password=road
road.datasource.hikari.maximum-pool-size=6

mqtt.server.url=tcp://address:port
mqtt.server.username=
mqtt.server.password=

# Lotju SOAP APIs
metadata.server.address.tms=http://localhost:#{T(fi.livi.digitraffic.tie.metadata.service.lotju.LotjuServiceEndpointMock).RANDOM_PORT}/LOTJU/LAMMetatiedot/v5
metadata.server.address.camera=http://localhost:#{T(fi.livi.digitraffic.tie.metadata.service.lotju.LotjuServiceEndpointMock).RANDOM_PORT}/LOTJU/KameraPerustiedot/v7
metadata.server.address.weather=http://localhost:#{T(fi.livi.digitraffic.tie.metadata.service.lotju.LotjuServiceEndpointMock).RANDOM_PORT}/LOTJU/TiesaaPerustiedot/v4

# Job schedules in ms or by cron in UTC
# Cron: http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html
# To disable job, just comment it out.
# Fields: Seconds Minutes Hours Day-of-Month Month Day-of-Week Year (optional field)
# Only one of Day-of-Month and Day-of-Week can be set at the time (?=no value set)

# Every 3 min
dt.job.Datex2TrafficAlertMessageUpdateJob.schedule =           0 0/3 * * * ?
# Every 5 min
dt.job.ForecastSectionWeatherUpdateJob.schedule =              0 0/5 * * * ?
# Every 1 h
dt.job.CameraStationsStatusMetadataUpdateJob.schedule =        0 0 0/1 * * ?
dt.job.TmsStationsStatusMetadataUpdateJob.schedule =           0 0 0/1 * * ?
dt.job.WeatherStationsStatusMetadataUpdateJob.schedule =       0 0 0/1 * * ?
dt.job.Datex2RoadworksMessageUpdateJob.schedule =              0 0 0/1 * * ?
dt.job.Datex2WeightRestrictionsMessageUpdateJob.schedule =     0 0 0/1 * * ?
# Every 12 h
dt.job.CameraMetadataUpdateJob.schedule =                      0 0 3/12 * * ?
dt.job.TmsStationMetadataUpdateJob.schedule =                  0 0 3/12 * * ?
dt.job.WeatherStationMetadataUpdateJob.schedule =              0 0 3/12 * * ?
# Every 24 h
dt.job.TmsStationSensorConstantsMetadataUpdateJob.schedule =   0 0 3 * * ?
dt.job.LocationMetadataUpdateJob.schedule =                    0 0 3 * * ?
dt.job.ForecastSectionCoordinatesMetadataUpdateJob.schedule =  0 0 3 * * ?

# Weathercam url for public fetch. Append camera preset + .jpg to get image url
weathercam.baseUrl=http://weathercam-test.digitraffic.fi/

# SFTP settings for camera image upload
camera-image-uploader.sftp.host = localhost
camera-image-uploader.sftp.port = 2232
camera-image-uploader.sftp.user = digitraffic
camera-image-uploader.sftp.knownHostsPath = file:src/test/resources/sftp/client_known_hosts
camera-image-uploader.sftp.privateKeyPath = file:src/test/resources/sftp/client_id_rsa
camera-image-uploader.sftp.privateKeyPassphrase = digitraffic
camera-image-uploader.sftp.uploadFolder = weathercam-test.digitraffic.fi
camera-image-uploader.sftp.poolSize = 5
camera-image-uploader.sftp.port=61234
camera-image-uploader.sftp.sessionWaitTimeout = 5000
# Binary Kuva.proto url. Port 62859 is hard coded in AbstractSftpTest
camera-image-download.url = http://localhost:62859/kamerakuva/

# AWS settings
dt.amazon.s3.weathercam.region = eu-west-1
dt.amazon.s3.weathercam.bucketName = weathercam-road-test
dt.amazon.s3.weathercam.userAccessKey = dummy
dt.amazon.s3.weathercam.userSecretKey = dummy

# JMS settings

# Sonja
jms.connectionUrls=
jms.userId=
jms.password=

# Sonja for datex2
jms.datex2.connectionUrls=
jms.datex2.userId=
jms.datex2.password=

# JMS topics
jms.weather.inQueue=topic://LOTJU.TiesaaKeruu.Tietovirta.BIN.OutTopic
jms.tms.inQueue=topic://LOTJU.LAMKeruu.Tietovirta.BIN.Ajantasa.OutTopic,topic://LOTJU.LAMKeruu.Tietovirta.BIN.Reaali.OutTopic
jms.camera.inQueue=topic://LOTJU.KameraKeruu.Tietovirta.BIN.OutTopic
jms.datex2.inQueue=queue://T-LOIK_Liikennetiedote.Digitraffic.Datex2.InQ
jms.camera.meta.inQueue=queue://Digitraffic.KameraMeta.Muutos.InQ

# Services enabled/disabled

# daemon or web
app.type=web

# Web application type. Should be none for daemon process and servlet for web application
spring.main.web-application-type=servlet

# Is metadata updates on. Should be true only for daemon process.
dt.job.scheduler.enabled=false

# if set to false no messages are sent to mqtt.  Should be true for daemon process
mqtt.enabled=false
# Is TMS messages available. Should be true for daemon process
mqtt.tms.enabled=false

# JMS queue enabled/disabled (Only daemon should have these enabled)
jms.weather.enabled=false
jms.tms.enabled=false
jms.camera.enabled=false
jms.datex2.enabled=false
jms.camera.metadata.enabled=false

# Developer life improvements
logging.level.root=INFO
#logging.level.org.hibernate.SQL=DEBUG
#logging.level.org.hibernate.type=TRACE
#logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE