config.test = true

# Copy this file as application-localhost.properties and configure
# datasource etc. according to your environment.

# http-server port
server.port = 9090

spring.datasource.url=jdbc:oracle:thin:@<HOST:localhost>:<PORT:1521>:<SID:XE>
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver
spring.datasource.validationQuery=SELECT 1 FROM DUAL

metadata.server.address.lam=http://localhost:9011/LOTJU/LAMMetatiedot
metadata.server.address.camera=http://localhost:9011/LOTJU/KameraPerustiedot
metadata.server.address.weather=http://localhost:9011/LOTJU/TiesaaPerustiedot

# If set to false web app is not started. Should be false for daemon prosess.
# spring.main.web_environment=false

# Don't run updates for tests
quartz.enabled=false

# Metadata update frequencies in ms, 300000 ms = 5 min
cameraStationUpdateJob.frequency=300000
lamStationUpdateJob.frequency=300000
weatherStationUpdateJob.frequency=300000

logging.file=digitraffic-metadata
logging.level.root=INFO
logging.level.fi.livi.digitraffic.tie=INFO

#logging.level.org.hibernate.SQL=DEBUG
#logging.level.org.hibernate.type=TRACE
#logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

#logging.level.fi.livi.digitraffic.tie.service.camera=DEBUG

