logging.file=digitraffic-metadata
logging.level.root=INFO

# Http-server port
server.port = 9000

# Datasource
spring.datasource.url=jdbc:oracle:thin:@<HOST:localhost>:<PORT:1521>:<SID:XE>
spring.datasource.username=<username>
spring.datasource.password=<password>

# Lotju-test v2 soap api
metadata.server.address.tms=http://localhost:9011/LOTJU/LAMMetatiedot
metadata.server.address.camera=http://localhost:9011/LOTJU/KameraPerustiedot
metadata.server.address.weather=http://localhost:9011/LOTJU/TiesaaPerustiedot

# Metadata update frequencies in ms, 43200000 ms = 12 h
cameraStationUpdateJob.frequency=43200000
tmsStationUpdateJob.frequency=43200000
weatherStationUpdateJob.frequency=43200000

# Weathercam url for public fetch. Append camera preset + .jpg to get image url
weathercam.baseUrl=http://weathercam.url/
weathercam.importDir=/tmp/weathercam

# JMS settings

# Sonic JMS 8.6.0
jms.connectionUrls=tcp://ip:port,tcp://ip:port
jms.userId=<username>
jms.password=<password>

# JMS topics
jms.weather.inQueue=<weather-topic>
jms.tms.inQueue=<tms-topic>
jms.camera.inQueue=<camera-topic>
jms.datex2.inQueue=<datex2-topic>

# Services enabled/disabled

# If set to false web app is not started. Should be false for daemon prosess.
#spring.main.web_environment=false

# Is metadata updates on. Should be true only for daemon process.
#quartz.enabled=true

# JMS queue enabled/disabled (Only daemond should have these enabled)
#jms.weather.enabled=false
#jms.tms.enabled=false
#jms.camera.enabled=false
#jms.datex2.enabled=true

# Websocket stream of TMS sensor values
#websocket.tms.enabled=true